<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>속초중앙시장</title>
	<!-- load fonts first -->
	<link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

	<!-- css -->
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">
	<link rel="stylesheet" href="../../static/css/init.css">
	
	<!-- js -->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="../../static/js/init.js"></script>
	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
	<![endif]-->
</head>

<body class="Board">

	<h1 class="hidden">속초중앙시장</h1>
	
	<div class="wrapper">
		
		<!-- header -->
		<header class="header">
             <div class="header-area clr">
                 <h1 class="logo">
                    <a href="../index.html">
                         <em class="">속초중앙시장</em>
                         <p class="logo-txt">
                             속초관광수산시장
                             <span>SOKCHO CENTRAL MARKET</span>
                         </p>
                    </a>
                 </h1> 
                 <nav class="gnb">
                     <ul class="menu clr">
                         <li class="itme-1"><a href="../index.html#about">속초중앙시장 소개</a></li>
                         <li class="itme-2"><a href="../index.html#guide">시장안내도</a></li>
                         <li class="itme-3"><a href="../index.html#tourist">관광정보</a></li>
                         <li class="itme-4"><a href="../index.html#view">속초8경</a></li>
                         <li class="itme-5"><a href="../index.html#waycome">오시는 길</a></li>
                         <li class="itme-6 page-move on"><a href="../board/index.html">추억게시판</a></li>
                     </ul>
                 </nav>
             </div>
		</header>
		
		<!-- contents -->
		<div class="contents">
            <section class="subVisual memory">
                <div class="mainTxt">
                    <p class="p-1">행복했던 어제, 즐거웠던 기억을 남겨보세요</p>
                    <h2><span class="f-bd">속초중앙시장</span> 추억게시판</h2>
                    <p class="p-2"><span class="f-bdr">SOKCHO</span> CENTRAL MARKET</p>
                </div>
            </section>
                
            <section class="board-area memory">
               <div class="board-box">
                    <h3 class="tit hidden">
                        <span class="sokcho"><span class="f-bd">SOKCHO</span> CENTRAL MARKET</span>
                        <span class="f-bd">추억게시판</span>
                    </h3>
                    
                    <div class="area area-1">
                        <table class="tbStyle tb-list">
                            <colgroup>
                                <col class="nth-1">
                                <col class="nth-2">
                                <col class="nth-3">
                                <col class="nth-4">
                                <col class="nth-5">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>작성일</th>
                                    <th>조회수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2</td>
                                    <td><a href="">속초해수욕장에 오시거든.. 꼭 숙소는 오션투유리조트에서 머무시길 바랍니다.</a></td>
                                    <td>오션투유</td>
                                    <td>2018.09.05</td>
                                    <td>59</td>
                                </tr>
                                <tr class="reply">
                                    <td>1</td>
                                    <td><a href=""><span class="re">RE</span> 방문해 주셔서 감사합니다.</a></td>
                                    <td>오션투유매니저</td>
                                    <td>2018.09.05</td>
                                    <td>12345</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagenation" id="pagenation">
                            <a class="prev" href="">&lt;</a>
                            <a class="on" href="">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a class="next" href="">&gt;</a>
                        </div>
                        <div class="row-btn cf">
                            <button type="button" class="appe-reset btn-write">글쓰기</button>
                        </div>
                    </div>
                    <form name="search_form">
                        <div class="row-search">
                            <div class="sltDiv">
                                <span class="sltArr"></span>
                                <select name="" id="" class="category appe-reset">
                                    <option value="">제목</option>
                                    <option value="">키워드</option>
                                </select>
                            </div>
                            <input type="text" value="" class="appe-reset keword">
                            <input type="button" value="검색" class="appe-reset btn-search">
                        </div>
                    </form>
                   
               </div>
            </section>
		</div>
		
		<!-- footer -->
		<footer class="footer">
			<div class="footer-area">
			    <p class="logo">
			        속초중앙시장 (속초관광수산시장)
			        <span>SOKCHO CENTRAL MARKET</span>
			    </p>
			    <div class="f-txt-box">
                    <p class="p-0">강원도 대표, 속초의 명물, 전국10대 관광시장으로 거듭나고 있습니다.</p>
                    <address>
                        <p class="p-1">대한민국 강원도 속초시 중앙로 147번길 12(중앙동) 속초중앙시장</p>
                        <p class="p-2">이메일 help@sokcho-central.co.kr</p>
                        <small>COPYRIGHT @ SOKCHO-CENTRAL.CO.KR ALL RIGHT RESERVED</small>
                    </address>
			    </div>
			</div>
		</footer>
		
	</div>

</body>

</html>